<ol class="grid justify-items-start content-evenly justify-center p-5">
  {{#each comments as |comment|}}
  <li>
    <form class="p-5">
      <div class="m-1 grid justify-items-start justify-center h-auto">
        <div>
          <p class="center text-2xl text-red-600 font-bold m-2 underline">Blog Title:</p>
          <a class="text-2xl font-bold hover:text-white hover:bg-gray-800 rounded m-2 p-2"
            href="/post/{{comment.post.id}}">{{comment.post.title}}</a>
        </div>
        <div class="w-full">
          <p class="text-2xl text-red-600 font-bold m-2 underline">Your comment:</p>
          <input class="w-full m-2 h-20 text-lg bg-gray-200 border rounded p-4" name="comment" type="text"
            value="{{comment.comments_text}}" readonly="readonly" />
          <p>Commented on: {{format_date comment.created_at}}</p>
          <a class="m-2 inline-block align-baseline font-bold text-xl text-black hover:text-white hover:bg-gray-800 border rounded shadow-sm p-3 edit-link" href="/dashboard/single-comment/{{comment.id}}">Edit my comment.</a>
        </div>
      </div>
    </form>
  </li>
  {{/each}}
</ol>
